/* 全体のスタイル */
body {
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
    margin: 0;
    padding: 20px;
}

/* タイトルのスタイル */
h1 {
    color: #333;
    text-align: center;
    margin-bottom: 20px;
}

/* ボタンのスタイル */
button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px 5px;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #45a049;
}

/* リストのスタイル */
ul {
    list-style-type: none;
    padding: 0;
}

li {
    background-color: #fff;
    margin: 10px 0;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
}

/* チェックボックスのスタイル */
.checkbox-item {
    margin-right: 10px;
}

/* 履歴リストのスタイル */
#displayArchives {
    display: none;
    margin-top: 20px;
}

/* フォーム内のボタンのスタイル */
form button {
    display: block;
    margin: 20px auto;
    width: 200px;
}
